.ito_item {
    aspect-ratio: 1;
    overflow: hidden;
    &:hover {
        .btn {
            background: #D69013 !important;
		    color: #fff;
        }
    }
}
.ito_item img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.ito_item-content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: end;
}

.ito_item-content.contained-content {
    position: absolute;
    width: 60%;
    min-width: 300px;
    height: max-content;
    bottom: 5%;
    left: 5%;
    background: rgba(0, 0, 0, .4);
    border-radius: 4px;
}