.material-item {
    aspect-ratio: 1;
    display: flex;
    align-items: end;
    padding: 1rem;
    img {
        object-fit: cover;
        z-index: 1;
    }
    .material-content {
        z-index: 2;
        position: relative;
        background: #6E6E6E3E;
        color: #fff;
        padding: 1rem;
        width: 100%;
        .section-title {
            font-size: clamp(1.125rem, 0.7913rem + 1.4239vw, 2.5rem);
        }
    }
}

.btn-small {
    background: $primary;
    color: #fff;
    padding: .5rem;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0px 3px 0px #00000029;
    margin-right: .5rem;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    line-height: normal;
    &:hover {
        background: #D69013;
        color: #fff;
    }
}
.bg-abstract {
    background-image: url('../css/icons/bg-abstract.jpg');
}