/**************************************/
/*                                    */
/* !Typography                        */
/*                                    */
/**************************************/

/**************************************/
/* !- Register Font Face              */
/**************************************/
/* source-sans-3-200 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/source-sans-3-v18-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-200italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: italic;
	font-weight: 200;
	src: url('../fonts/source-sans-3-v18-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-300 - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/source-sans-3-v18-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-300italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/source-sans-3-v18-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-regular - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/source-sans-3-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/source-sans-3-v18-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-500 - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/source-sans-3-v18-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-500italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/source-sans-3-v18-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-600 - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/source-sans-3-v18-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-600italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/source-sans-3-v18-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-700 - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/source-sans-3-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-700italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/source-sans-3-v18-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-800 - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/source-sans-3-v18-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-800italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: italic;
	font-weight: 800;
	src: url('../fonts/source-sans-3-v18-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-900 - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/source-sans-3-v18-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-900italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Sans 3';
	font-style: italic;
	font-weight: 900;
	src: url('../fonts/source-sans-3-v18-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v1hlgj');
  src:  url('../fonts/icomoon.eot?v1hlgj#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?v1hlgj') format('truetype'),
	url('../fonts/icomoon.woff?v1hlgj') format('woff'),
	url('../fonts/icomoon.svg?v1hlgj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/**************************************/
/* !- Icon Font                       */
/**************************************/

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-plus:before {
	content: "\ea0a";
  }
  .icon-cross:before {
	content: "\ea0f";
  }
  .icon-checkmark:before {
	content: "\ea10";
  }
  .icon-arrow-up2:before {
	content: "\ea3a";
  }
  .icon-arrow-right2:before {
	content: "\ea3c";
  }
  .icon-arrow-down2:before {
	content: "\ea3e";
  }
  .icon-arrow-left2:before {
	content: "\ea40";
  }
  .icon-facebook:before {
	content: "\ea90";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-linkedin:before {
	content: "\eaca";
  }
  
// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


/**************************************/
/*                                    */
/* !Layouts                           */
/*                                    */
/**************************************/

.container-fluid {
	@include media-breakpoint-up(xxl) {
		padding-left: 0;
		padding-right: 0;
		max-width: calc( 100vw - ( 4rem * 2) );
	}
}

.col--equal-height {
	display: flex;
}

figure {
	margin-bottom: 0;
}

.site {
	overflow-x: clip;
}

.site-main {
	overflow-x: hidden;
}

/**************************************/
/* !- Block Layout                    */
/**************************************/

.block--margin {
	margin-top: var(--spacer);
	margin-bottom: var(--spacer);

	@include media-breakpoint-down(sm) {
		margin-top: var(--spacer-sm);
		margin-bottom: var(--spacer-sm);
	}

	@include media-breakpoint-only(sm) {
		margin-top: var(--spacer-md);
		margin-bottom: var(--spacer-md);
	}
}

.block--margin-sm {
	margin-top: var(--spacer-sm);
	margin-bottom: var(--spacer-sm);
}

.block--margin-md {
	margin-top: var(--spacer-md);
	margin-bottom: var(--spacer-md);
}

.block--margin-lg {
	margin-top: var(--spacer-lg);
	margin-bottom: var(--spacer-lg);

	@include media-breakpoint-down(md) {
		margin-top: var(--spacer-md);
		margin-bottom: var(--spacer-md);
	}
}

.block--padded {
	padding-top: var(--spacer-md);
	padding-bottom: var(--spacer-md);

	@include media-breakpoint-up(lg) {
		padding-top: var(--spacer);
		padding-bottom: var(--spacer);
	}
}

.block--padded-sm {
	padding-top: var(--spacer-sm);
	padding-bottom: var(--spacer-sm);
}

.block--padded-md {
	padding-top: var(--spacer-md);
	padding-bottom: var(--spacer-md);

	@include media-breakpoint-down(sm) {
		padding-top: var(--spacer-sm);
		padding-bottom: var(--spacer-sm);
	}
}

.block--padded-lg {
	padding-top: var(--spacer-lg);
	padding-bottom: var(--spacer-lg);

	@include media-breakpoint-down(md) {
		padding-top: var(--spacer-sm);
		padding-bottom: var(--spacer-sm);
	}
}

.block--padding-top-none {
	padding-top: 0;
}

.block--margin-top {
	margin-top: var(--spacer);
}

.block--margin-top-none {
	margin-top: 0;
}

.block--margin-top-sm {
	margin-top: var(--spacer-sm);
}

.block--margin-top-none--sm {
	@include media-breakpoint-down(lg) {
		margin-top: 0;
	}
}

.block--margin-md-top {
	margin-top: var(--spacer-md);
}

.block--margin-md-bottom {
	margin-bottom: var(--spacer-md);
}

.block--margin-bottom-none {
	margin-bottom: 0;
}

.block--margin-bottom {
	margin-bottom: var(--spacer);
}

.block--margin-bottom-sm {
	margin-bottom: var(--spacer-sm);
}

.block--margin-bottom-md {
	margin-bottom: var(--spacer-md);
}

.block--margin-bottom-lg {
	margin-bottom: var(--spacer-lg);
}

.block--fullwidth {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}

/**************************************/
/* !- Block Background                */
/**************************************/

.block--bg {
	position: relative;
	overflow: hidden;
}

.block__bg,
img.block__bg {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.block--fg {
	position: relative;
	z-index: 2;
}

/****************************************/
/* !- Cookiyes cookie banner overlay    */
/* this will be specific for the cookie */
/* yes plugin                           */
/**************************************/
body .cky-consent-container .cky-consent-bar {
	max-width: 100% !important;
	position: absolute;
	bottom: 40px;
	left: 40px;
	width: 400px;
}
body .cky-consent-container {
	background: rgb(0 0 0 / 70%) !important;
	height: 100% !important;
	align-items: end !important;
	width: 100%;
	left: 0;
	bottom: 0;
	border-radius: 0;
}

.cky-switch input[type="checkbox"]:before {
	display: none !important;
}

@media screen and (max-width:500px) {
	body .cky-consent-container .cky-consent-bar {
		left: 0;
		bottom: 0;
	}
}

/***************************************

GLOBAL

****************************************/
body {
	font-family: 'Source Sans 3';
	color: $dark-grey;
}
a {
	text-decoration: none;
}
.btn {
	font-weight: 600;
	font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
	&:hover {
		background: #D69013 !important;
		color: #fff;
	}
}
a.cover-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.swiper-pagination-bullet-active {
	background-color: $primary !important;
}
/*****************************************
**HEADER
******************************************/
#wrapper-navbar {
    box-shadow: 0px 0 6px rgba(0, 0, 0, .2);
}
#top-navbar {
	font-size: clamp(0.75rem, 0.659rem + 0.3883vw, 1.125rem);
	a {
		color: $white;
	}
	span.divider {
		margin: 0 10px;
	}
}
ul.top-navbar_socials {
    display: inline-flex;
    padding: 0;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0;
	list-style: none;
	i {
		font-size: 12px;
	}
}
#wrapper-navbar {
	.nav-link {
		font-size: clamp(1rem, 0.909rem + 0.3883vw, 1.375rem);
		font-weight: 500;
		letter-spacing: 0.66px;
		color: $dark-grey;
		text-transform: uppercase;
		&:hover {
			color: $primary;
		}
	}
	.custom-logo-link {
		margin-top: -60px;
		@include media-breakpoint-down(md) {
			margin-top: 0;
		}
	}
}
@include media-breakpoint-down(lg) { 
	.custom-logo-link img {
		max-height: 120px;
		width: auto;
		@include media-breakpoint-down(md) {
			max-height: 90px;
		}
	}
 }

 .menu-btn a.nav-link {
	background: $primary;
	color: #fff !important;
	box-shadow: 0px 4px 0px #00000029;
	border-radius: 4px;
    display: flex;
	min-width: 160px;
	padding: 5px 12px !important;
	justify-content: space-between;
	&::after {
		content: "\ea3c";
		font-family: 'icomoon';
	}
 }
 .navbar-nav {
	width: 100%;
	gap: 1rem;
 }
 @include media-breakpoint-up(md) {
	.menu-btn {
		margin-left: auto;
	}
}
/********************************************************
***FOOTER
********************************************************/
#wrapper-footer {
	a {
		color: #fff;
	}
}
#wrapper-footer-full .menu {
    list-style: none;
    padding: 0;
}
#wrapper-footer-full {
	background: white;
	a {
		color: $dark-grey;
	}
}
ul.footer_socials {
    list-style: none;
    display: inline-flex;
    padding: 0;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.widget-title {
    text-transform: uppercase;
    font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
    font-weight: 600;
}